@media screen and (max-width: 992px) {
    #my-canvas{
        width: 100vw;
    }

    .grid-button {
        display: none;
        /* grid-template-columns: 3;
        grid-template-rows: 3; */
        grid-template-areas:
            '. top .'
            'left center right'
            '. bottom .'
    }


}