@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu&display=swap');

*{
 font-family: 'Ubuntu', sans-serif;;
}

body, html{
    padding: 0px;
    margin: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my-canvas{
    display: none;
    background-color: rgb(108, 176, 103);
    height: 88vh;
    background-size: cover;

}

#points{
    display: none;
    height: 40px;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    color: black;
    text-align: center;
    margin-top: 10px;
}

#record{
    display: none;
    height: 40px;
    width: 50vw;
    background-color: rgb(0, 0, 0);
    color: #fafafa;
    text-align: center;
    margin-top: 10px;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5vh;
    bottom: 5vh;
    left: 15vw;
    right: 15vw;
    width: 70vw;
    height: 90vh;
background-color: rgba(114, 190, 234, 0.7);
font-size: 20px;
}

#gameover{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5vh;
    bottom: 5vh;
    left: 15vw;
    right: 15vw;
    width: 70vw;
    height: 90vh;
background-color: rgba(235, 59, 59, 0.7);
font-size: 20px;
}

.grid-button {
    display: none;
    /* grid-template-columns: 3;
    grid-template-rows: 3; */
    grid-template-areas:
        '. top .'
        'left center right'
        '. bottom .'
}

.top,
.right,
.center,
.bottom,
.left {
    margin: 0px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.top {
    grid-area: top;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right {
    grid-area: right;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 1px 1px 3px black;
}

.center {
    grid-area: center;
    border-radius: 0px;
}

.bottom {
    grid-area: bottom;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 1px 1px 2px black;
}

.left {
    grid-area: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}